main{
  padding-top: 2rem;
}

.background{
  background: url(../images/plans-background.jpg) center/cover;
  width: 100vw;
filter: grayscale(30%);
  height: 100vh;
  position: fixed;
  z-index: -1;
}


.package{
  
  border: 0.4rem solid #0e4f1f;
  border-left: none;
  margin: 1rem 0;
  padding: 1rem;
  width: 80%;

}

.package:hover,
.package:active {
  box-shadow: 2px 2px 2px 4px (0, 0, 0, 0.5);
  border-color: #ff5454;
}


.package a {
  color: inherit;
  display: block;
  padding: 2rem;
  text-decoration: none;
  position: relative;

}

.package__badge{
  background: #ff1b68;
  color: white;
  padding: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-radius: 0.625rem;
  margin: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
}

.package__subtitle{
  color: #979797;
}

.package__info{
  background: white;
  padding: 1rem;
  border: 1px solid #0e4f1f;
  color: #0e4f1f;
}

#premium{
  background: rgba(14,79,31,0.95);

}
#plus{
  
  background: rgba(213, 255, 220, 0.95);
}
#free{
background: rgba(234, 252, 237, 0.95);
margin-left: 20%;
border-right: none;
border-left: 4px solid #0e4f1f;
text-align: right;
}

#free:active,
#free:hover{
border-left-color: #ff5454;
}

#premium .package__title{
  color: white;
}

#premium .package__subtitle{
  color: bbb;
}


@media (min-width: 40rem) {
  main {
    margin: 3rem auto;
    max-width: 1500px;
  }
}

@media (min-width: 1500px) {
  .package {
    border-left: 4px solid #0e4f1f;
  }

  #free {
    border-right: 4px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
}